<form class="custom">

    <section id="meta">

    </section>

    <section id="contents">

        <div class="row" role="header">
            <div class="columns small-12 header">
                <div class="columns small-11 colapsed title container"><%= title %></div>
                <a class="button green right"><%= label %></a>
            </div>
        </div>

        <div class="row datawrap"  role="content" >
            <div class="columns small-6 droparea"><div class="dropzone"></div></div>
            <div class="columns small-6 imageform">

            </div>
        </div>

    </section>

</form>