<div class="columns small-8">

        <dl class="tabs" data-tab>
            <dd class="active"><a href="#panel31">meta</a></dd>
            <dd><a href="#panel32">seo</a></dd>
        </dl>
        <div class="tabs-content">
            <div class="content active" id="panel31">
                <div class="panel">
                    <div class="metacontainer">
                    </div>
                    <a class="button green addmeta">+ Add metadata</a>
                </div>
            </div>
            <div class="content" id="panel32">
                <div class="panel">
                    <div class="seocontainer">
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">Title</span>
                            </div>
                            <div class="small-9 columns field" data-editors="value"><input name="value" type="text" placeholder="Text" ></div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">Description</span>
                            </div>
                            <div class="small-9 columns field" data-editors="value"><textarea name="value" type="text" placeholder="Text" ></textarea></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</div>

