<div class="columns small-12">

        <div class="row collapse header">
            <div class="columns small-7 translated titleinput" data-editors="description"></div>
            <div class="columns small-3 translated slug" data-editors="slug">&nbsp;&nbsp;/ </div>
            <div class="columns small-2">
                <a href="#" class="button update right split" data-options="align:bottom">Update<span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown pageoptions" data-dropdown-content>
                    <li><a class="option status" href="#">Publish</a></li>
                    <li><a class="option remove" href="#">Remove</a></li>
                </ul>
            </div>
        </div>

        <div class="row collapse data">
            <div class="columns small-12">
                <div class="translated contentinput" data-editors="content"></div>
            </div>
        </div>

</div>