

    <div class="panel_meta">
         <div class="columns small-12">
             <div data-fields="label"></div>
         </div>
         <div class="columns small-3">
             <div data-fields="parent"></div>
         </div>
         <div class="columns small-3">
             <div data-fields="status"></div>
         </div>
         <div class="columns small-3">
             <div data-fields="template"></div>
          </div>
         <div class="columns small-3 language">

         </div>
    </div>
