
<section id="contents">

    <div class="row meta">

    </div>

    <div class="row maincontent">

        <div class="columns small-12">
            <div class="row collapse header">
                <div class="columns small-12 heading">
                <span class="title dropdown"><%= title %></span>
                    <!--<a href="#" data-dropdown="filter_status" aria-expanded="true"><i class="fa fa-angle-down"></i></a>
                    <ul id="filter_status" class="f-dropdown">
                        <li class="option published">Published <%= title %></li>
                        <li class="option removed">Removed <%= title %></li>
                        <li class="option draft">Drafts</li>
                    </ul>-->
                <% if (label != "") { %>
                <a class="button green right"><%= label %></a>
                <% } %>
                </div>
                <div class="columns small-12 filters">
                    <div class="row collapse">
                        <div class="columns small-2">

                        </div>
                        <div class="columns small-2">

                        </div>
                    </div>
                </div>
            </div>

            <div class="row collapse data">

            </div>
        </div>

    </div>

    <div class="row assetsrow" >
        <div class="columns small-12 assets">

        </div>
    </div>

    <div class="row extrarow" >

    </div>

</section>


