<div class="login-wrapper">
    <div class="panel login-box">
        <h2>Login to your account</h2>
         <fieldset>

            <input name="email" id="email" type="text" placeholder="type email" maxlength="50" value=""  autofocus="true"/>
            <input name="password" id="password" type="password" placeholder="type password" maxlength="20"/>

            <div class="row">
                <div class="columns small-6">
                    <label class="remember" for="remember"><input type="checkbox" name="remember" id="remember" />Remember me</label>
                </div>
                <div class="columns small-6">
                    <button type="submit" class="button">Login</button>
                </div>

            </div>
        </fieldset>

        <div class="row">
            <div class="columns small-12">
                <a href="/recover">Get a new password.</a>
            </div>
        </div>
    </div>
</div>
