

@import url(http://fonts.googleapis.com/css?family=Dosis:300,400,600);

/*!
 *  Styles CMS 1.0 by @netdust - http://netdust.be
 */

html { background:#e1e1e1; padding:0; background-size: cover; }
body { font-family: 'Dosis', sans-serif; font-weight: 300; color: #3A4049; width: 100%; background: transparent;  }
h1, h2, h3, h4, h5, h6 { font-family: 'Dosis', sans-serif; font-weight: 300;  color: #3A4049; }

:-moz-placeholder, ::-moz-placeholder {
    color:    #c4c4c6 !important;
    opacity:  1;
}
::-webkit-input-placeholder, :-ms-input-placeholder {
    color: #c4c4c6 !important;
}

.f-dropdown{ padding:5px; }
.f-dropdown li{ padding: 2px; }
.f-dropdown:before{ left:18px; }
.f-dropdown:after{ left:17px; }

.split.button span:after {
    border-color: #8491a5 transparent transparent transparent;
}

.loader { display: none; text-align: center;  position: absolute; width:100%; height: 100%; z-index:999; }
.loader i{ position: relative; left:3.8%; top: 25%; font-size: 2em;}
.backbone-loading .loader{ display: block; }

.flash{position: absolute;z-index: 99999; max-width: 970px; width: 100%; -webkit-transform:translateX(-50%); transform:translateX(-50%); left:50% }

#sidebar{ height:100%; min-width: 130px; position:fixed;  z-index: 200; overflow: hidden; color: #fff; }
#main{ overflow: auto; overflow-x: hidden; min-height: 100%; height:auto !important; position: relative; margin-left:130px; }
#main{ top: 25px; }
#main.animate{ transition: all 500ms ease-in-out; }
#main #app.closed{ top:-170px; }
#main #app.opened{ top:25px; }

#main #top{height:50px; }
#main #contents{min-height:100%; padding-bottom:50px; }
#main #meta{ margin-bottom:10px; }
#main .header{ background: #FFF; height: 96px; }

#main .login-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.43);
    z-index: 9999;
    height: 100vh;
}

#main .login-wrapper .login-box {
    position: relative;
    margin: 0 auto;
    width: 50%;
    margin-top: 5em;
}


#main .data{ padding: 1.25em 1.25em 1.25em 1.2em; background-color: #F0F1F3; box-shadow: 0 5px 2px -2px rgb(186, 186, 186);}

#main .prefix input{ background: transparent; border: 0; text-align: center; box-shadow:none; }

#main .prefix .draghandler{ position:absolute; left:15px; color:#e1e1e1; }



/*=== LOGIN SCREEN      */

.login label { display: none;}
.login fieldset { border: none;}
.login input { margin-bottom: 20px;  }
.login .buttons a {float: right;font-size: 13px; line-height: 38px;}
.login .buttons button { float: left;  border:0;}
.login a { color: #8491a5;}
.login a:hover { color: #fff;}
.login button { background: #2f3744; color: #96a4bb;font-size: 13px; font-weight: 500;}
.login.content { margin-top:8rem;}

/*=== META DATA         */

#main .tabs-content{background: white;}
#main .meta{ margin-bottom:25px; }
#main .meta .panel_meta{ min-height:110px; }
#main .meta .panel{ border:0; padding:1.25em; }
#main .meta .panel .columns{ padding-left: 0.9375em; padding-right: 0.9375em; }
#main .meta .panel .columns{ padding-left: 0.9375em; padding-right: 0.9375em; }
#main .meta .panel .row.collapse .columns{ padding:0; }

#nav-back-btn {
    color:white;
    cursor: pointer;
    margin-top:5px;
}

 a.button.add-list {
    background: #f3f3f3;
    color: #666;
    font-family: 'Dosis', sans-serif;
    border: 1px solid #ccc;
    padding: 5px 15px;
}
 a.button.item.close {
    font-weight: 700;
    padding: 10px;
    border: 0;
    margin: 0;
}

ol.container {
    list-style: none;
    margin-left: 10px;
}

ol.container li.placeholder { border: 1px dashed #CCC; height:37px;  background: white; margin: 0 0 1rem;}
/*=== PAGE FORM         */

#main .titleinput { padding-left: 1.7em; }
#main .titleinput input{ font-size: 2.2em; background: none;  border: 0; box-shadow: none;padding: 5px 0 0 0; height: 2.5em; }
#main .slug { background-color: #FAFAFA; height: 6em; line-height: 6em; border: 0; box-shadow: none; }
#main .slug input{ background-color: #FAFAFA; height: 6.8em; border: 0; box-shadow: none;  padding-left: 0; position: absolute; top: 0; left:15px; width:90%; }

#main .button.update{ background-color: #F6F6F6; border: none; color: #666; height: 6em;  line-height: 4em; }
#main .button.update:hover{ border: none; color: #666; }
#main .button.update span:before{ border-color: #666 transparent transparent transparent; top:2.5em ; right: 0;}
#main .button.update span {border:none; width:4em}

#main .extrarow {margin-top: 40px;}
#main .extrarow .panel{ border:none; background: #FFF; }

#main .coglink{ line-height: 2.3em;  padding: .3em 1em;  color: #666; }
#main .tabs-content a.coglink{ display: none; }
#main .tabs-content #panel_meta a.coglink{ display: inline; }

.login-box{max-width: 420px;}
.login-box .remember{line-height: 3.5em;}
.login-box input{margin-right: .5em;}
.login-box .button{padding-bottom: 1em; margin-bottom: 0; width: 100%;}
.login-box .error, #main  .error input, #main  .error textarea, #main  .error select {  border:1px solid red;  margin-bottom: 1rem;}
#main  .error input:focus, #main  .error textarea:focus, #main  .error select:focus { border:1px solid #ccc;  margin-bottom: 1rem;}

/*=== CONTENT LIST      */

.button.green{ background-color: white; border-color: white; color: #666;padding:2.4em 1.5em 0;}
.button{box-shadow: none; padding-bottom:0.5em;}

.header .heading .title{ font-size: 2em; line-height: 3em; padding-left: .85em; }
.header .filters{ background: #f8f9fb; height:0em; padding-left: .85em; }


#main .data .item{ border-bottom: 1px solid rgba(0, 0, 0, 0.2); margin: 5px 0; padding: 5px 10px; }
#main .data .item .middle{  width:100%; }

#main .data .item .role { padding-top: 1.4em;  }
#main .data .item .role a{ width: 100%; height: 100%; display: block; }
#main .data .item h2{ font-size:1.5em; margin-bottom: 0; }
#main .data .item h4{ font-size:.875em; color: rgba(0, 0, 0, 0.5); }


/*=== META BLOCK        */

.metadata{ background-color: #F0F1F3; height:150px; margin:25px 0 5px 0; padding: 20px 20px; }
.metadata .dateselect .custom.dropdown{ width:30%; float:left; }
.button.addmeta{padding-left: 0;padding-bottom: 0;}
.button.addasset{padding-left: 0;padding-bottom: 0;}

a.button.item.close { background: #f3f3f3; color: #666; border: 0; margin: 0; padding: 9px 10px;}

.tabs-content .list input[type="text"] { margin-bottom: 3px; }
.tabs-content textarea{ height:120px; }
.tabs-content .panel{ margin:0px; }

/* upload editor      */

.upload .editor input{ margin:0;  padding-right: 20px;}
.editor .button.file { background: #fafafa; color: rgba(0,0,0,0.75); border: 1px solid #ccc; margin: 0; width: 100%; padding: 10px; font-size: .756em; }
.editor .button.file:hover { background: #f3f3f3; border-color:#999;}
.editor .button.file .fa { display: none; }

.editor.uploadzone { margin: 0 0 1rem 0; }
.editor.uploadzone .preview{ display: none; position: absolute; right: 10px; top: 10px; color: #666; cursor:pointer;}
.editor.uploadzone:hover .preview.visible{ display:block;}
.editor.uploadzone .dz-error-message { font-size: .756em; }
.editor.uploadzone .dz-progress-spinner { background: url(../img/loader.gif) no-repeat; position: absolute; top: 7px; right: 8px; display: none; width: 24px; height: 24px;}
.editor.uploadzone .dz-processing .dz-progress-spinner {  display: block; }
.editor.uploadzone .dz-processing.dz-error .dz-progress-spinner,
.editor.uploadzone .dz-processing.dz-success .dz-progress-spinner { display: none; }


/*== EPICEDITOR         */


/*== COLLECIONS         */
.dropzone { border: 0; min-height: 360px;  border-radius: 0px; padding: 0px; background: white;margin: 20px 0px;}
.imageview { width: 470px; min-height: 250px; background: rgb(206, 206, 206);}

.previewsContainer{  display: block; padding: 0; margin:0;list-style: none; }

.previewsContainer .placeholder, .square-box{ position: relative; width: 20%; overflow: hidden; background: #f3f3f3; float: left;border: 1px solid #e0e0e0;}
.previewsContainer .placeholder {
    border: 2px dashed #999;
}

/*== MEDIA              */

.list.imagegrid .list-content.media { background-color: white !important; }
.list.imagegrid .list-content.media .pageinfo{ overflow: hidden; text-align: center; padding: 20px 20px 60px 20px; }
.list.imagegrid .list-content.media .pageinfo i.fa{ font-size: 50px; display: block;}
.list.imagegrid .list-content.media .pageinfo div.label{ position: absolute; bottom: 20px; left: 0; }

.placeholder:before, .square-box:before{ content: ""; display: block; padding-top: 100%;}
.square-content{ position:  absolute; top: 0; width: 100%; height: 100%; text-align: center;}
.square-content div { display: table; width: 100%; height: 100%;}
.square-content span { display: inline-block;  }
.square-content .dz-success-mark, .square-content .dz-error-mark { display: none; }
.square-content .dz-filename { display: none; position: absolute; top:0; background: white; height: 25px; z-index: 99;}
.square-content:hover .dz-filename { display: block; }
.square-content .dz-details img { display: block; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); position: absolute; top: 50%; width: 100%; height: 100%;}

/*=== NAVIGATION PANEL  */

.btn{ display: block; width: 2.625em; height: 2.25em; padding: 0; border: 0; outline: none; overflow: hidden; white-space: nowrap; text-indent: 100%;  tap-highlight-color: rgba(0, 0, 0, 0); }
.btn.close { background: #3A4049 url("../img/close-btn.svg") left center no-repeat; background-size: 1.875em 1.875em; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: .7; position: absolute; top: -4.75em; left: 1.275em;}
.btn.nav {  background: url("../img/nav-icon.png") center center no-repeat; width:100%; position: relative; top: .2em;}
.no-svg .btn.close { background-image: url("../img/close-btn.png");}
.no-svg .btn.nav { background-image: url("../img/nav-icon.png");}
.btn.close:focus, .btn.close:hover,
.btn.nav:hover, .btn.nav:focus { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

i.extranav{ width:100%; text-align: center; color:#FFF; margin-top: 5px; font-size: 1.3em; }
i.extranav:before{ cursor: pointer; }

#nav { z-index: 200; overflow: hidden; background: #666; color: #3A4049; position: absolute; top: 0; padding-top: 2.8em; width:100%; height:100%}

#nav ul { *zoom: 1; display: block;margin-left:0; }
#nav ul:after { clear: both;}
#nav ul:before, #nav ul:after { content: ""; display: table;}
#nav li {display: block; position: relative; }
#nav li:last-child { border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
#nav li:last-child {bottom: 0;position: absolute;width: 100%;}
#nav li i { display: block;color: #DEDFE2; font-size: 2em; line-height: 2;text-align: center; padding: 0.4em 1em;}
#nav li i:focus, #nav li i:hover { color: #3A4049;  background: #f7f8f7;}
#nav li.is-active {border-left: 5px solid #DEDFE2;}


@media only screen and (max-width: 48em) {
    #sidebar{
        min-width:45px;
        height:100%;
    }

    #main{
        margin-left:45px;
        height:100%;
    }
    #nav li span{ display: none; }

    #nav li a {
        padding: 0.85714em 0.85714em;
    }

}



/**
 * list
 */


.list { position: relative; display: block; margin: 0; padding: 0;  list-style: none;  }

.list .sortable-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.list .sortable-list .f-dropdown:before,
.list .sortable-list .f-dropdown:after{ display: none; }


.list li.list-item ol{ list-style: none; padding-left: 30px; }
.list li.list-item H2{ font-size:1.5em; margin-bottom: 0; }
.list li.list-item H4{ font-size:.87em; color: rgba(0, 0, 0, 0.5); }

.list li.list-item{ display: block; position: relative; margin: 0; padding: 0; min-height: 20px; }
.list.imagegrid li.list-item{ margin: 0; padding: 0 .625rem 1.25rem; }

.list li.placeholder { border: 1px dashed #CCC; height:77px; background: white;}

.list li .list-handle,
.list li .list-extra { position: absolute; margin: 0; right: 0; top: 25px; display: block;   }
.list li .list-handle{ cursor: pointer; }
.list li .list-extra {right: 35px;}

.list li .list-handle span,
.list li .list-extra a .extranav { padding:5px 10px; margin:0; color:#dfdfdf; display: block; }

.list li .list-handle:hover span,
.list li .list-extra a:hover .extranav{ background: #ddd; color:#333333;  }

.list .list-content { display: block;  margin: 5px 0; padding: 5px 10px;border-bottom: 1px solid rgba(0, 0, 0, 0.2)}
.list.imagegrid .list-content { border: 1px solid rgba(0, 0, 0, 0.2)}
.list.imagegrid .list-content .pageinfo { padding-bottom: 100%; position: relative; }
.list.imagegrid .list-content .pageinfo img{ width: 100%; position: absolute; }
.list.imagegrid li .list-extra{  right: 15px; top: 10px; }
.list.imagegrid li .list-handle{  right: auto; top: 10px; left: 15px; display: none; }
.list.imagegrid li.placeholder { border: 1px dashed #CCC; background: white;}

.assets .row.zonecontainer { margin-top: 25px; }
.zone{background:white;height: 120px;padding-top: 45px}



